{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
<script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>

<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>

<canvas id="chartJS"></canvas>
<div class="buttons">
    <button class="button is-hovered is-fullwidth" onclick="resetZoom()">Reestablecer zoom</a>
    <button class="button is-hovered is-fullwidth" onclick="toggleDragMode()">Deshabilitar/habilitar arrasatrar para acercar</a>
</div>

<script>

    var ctx = document.getElementById('chartJS').getContext('2d');
    var chart;

    function compare( a, b ) {
    if ( a.label < b.label ){
        return -1;
    }
    if ( a.label > b.label ){
        return 1;
    }
        return 0;
    }

    var info = JSON.parse('{{ info | escapejs }}');

    fetch(`/api${info.url}`)
        .then(res => res.json())
        .then(data => jsonData = data)
        .then((jsonData) => {

        var chartData = []

        jsonData.results.forEach(function(dataset){
            console
            dataset.forEach(function(ramo){
                chartData.push(ramo);
            })
        })

        chartData.sort(compare);
        chartData[0].fill = 'origin';

        Chart.platform.disableCSSInjection = true;

        // initialize data with default first
        chart = new Chart(ctx, {
            type: 'line',
            data: {
                lineTension: 0,
                datasets: chartData,
            },

            options: {
//                title: {
//                    display: true,
//                    text: info.titulo,
//                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'series',
                        ticks: {
                            autoSkip: true,
                        },
                    }],
                    yAxes: [{
                        stacked: true,
                    }]
                },
                elements: {
                    line: {
                        cubicInterpolationMode: 'monotone',
                        tension: 0,
                    },
                    
                },
                responsive: true,
                plugins: {
                    colorschemes: {
                        scheme: info.scheme,
                    },
                    filler: {
                        propagate: true
                    },
                    zoom: {
                        zoom: {
                            enabled: true,
                            drag: true,
                            mode: 'xy',
                            speed: 0.1
                        }
                    },
                },
            }
        });

    window.resetZoom = function() {
        window.chart.resetZoom();
    };
    
    window.toggleDragMode = function() {
        var chart = window.chart;
        var zoomOptions = chart.options.plugins.zoom.zoom;
        zoomOptions.drag = !zoomOptions.drag;
        chart.update();
        document.getElementById('drag-switch').innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
    };

    window.onload = function() {
        var ctx = document.getElementById('chartJS').getContext('2d');
        window.chart = new window.Chart(ctx, chart.config);
    };
    });


</script>
{% endblock content %}
